.App {
  text-align: center;
}

/* TOP BAR */

.top-bar .logo {
  font-family: 'Sacramento', 'cursive'; 
}

/* GENERAL LAYOUT */

.container {
  display: flex;
  width: 80%;  
  margin: 6rem auto;
  /* border: 1px solid black;   */
  flex-direction: column;
}

@media (min-width: 768px) { 
  .adding-area {
    display: flex;
    flex:1;
    flex-basis: 20%;
    /* border: 1px solid black;   */
  }  
}

.content-area {
  display: flex;
  flex:1;
  /* border: 1px solid black;   */
  flex-basis: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTENT AREA */


.content-area .tabs-menu {
  margin-bottom: 50px;
  
}


