/* INITIAL SETTINGS */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFEE;
  font-family: 'Roboto'
}

/* TOP BAR */

.top-bar .logo {
  font-family: 'Sacramento', 'cursive'; 
}

/* GENERAL LAYOUT */

.container {
  display: flex;
  width: 80%;  
  margin: 6rem auto;
  border: 1px solid black;  
  flex-direction: column;
}

.adding-area {
  display: flex;
  flex:1;
  flex-basis: 20%;
  border: 1px solid black;  
}

.content-area {
  display: flex;
  flex:1;
  border: 1px solid black;  
  flex-basis: 80%;
}

/* ADDING AREA LAYOUT */

.adding-area .add-book, .add-category {
  height: 20rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ADDING BOOK FORM LAYOUT */

.add-book .input-book-name, .add-book .input-book-category, .add-book .input-book-price {
  flex:1;
  width:60%;
  margin: 0 auto;
}

.add-book .button-add-book {
  width:60%;
  margin: 0 auto;
  display:flex;
  justify-content: flex-end;
}
